  
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="event-add center flex justify-around mt5">
    <div class="flex flex-column bgw tc shadow-c br3">
        <div class="pr3 pb3 pl3 pt1">
            <h1>{% trans "Sign Up" %}</h1>

            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}