{% extends "base.html" %}

{% block content %}

<div class="event-add center flex justify-around mt5">
    <div class="flex flex-column bgw tc shadow-c br3">
        <h1 class="form-title">{{ form_title }}</h1>
        <div class="pr3 pb3 pl3 pt1">
            <form class="flex flex-column" action="{% url 'add-event' musician_pk=musician.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <div class="flex">
                    <div class="labels pr3 pl3 pt1">
                        <p>Title:    </p>
                        <p>Date and time:    </p>
                    </div>
                    <div class="fields">
                        <p>{{ form.title }}</p>
                        <p>{{ form.date_time }}</p>
                    </div>
                </div> -->
                <div class="vertical">
                    <p class="form-label">Title: </p>
                    <p class="naked-input">{{ form.title }}</p>
                    <p class="form-label">Date and time:</p>
                    <p class="naked-input">{{ form.date_time }}</p>
                </div>
                <p class="pt1">{{ form.description }}<p>
                <div>
                    <p>Choose a cover photo:</p>
                    <p class="pl1"> {{ form.cover_photo }}</p>
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(function () {
        $("#id_date_time").datetimepicker({  format: 'm/d/Y H:i', 
                                            stepping: 15,
                                        }
        );
    });
  </script>
{% endblock content %}