{% extends "base.html" %}

{% block javascript %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{% endblock javascript %}

{% block content %}

<div class="event-add center flex justify-around mt5">
    <div class="flex flex-column bgw tc shadow-c br3">
        <h1 class="form-title">{{ form_title }}</h1>
        <div class="pr3 pb3 pl3 pt1">
            <form class="flex flex-column" action="{% url 'add-event' musician_pk=musician.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <div class="flex">
                    <div class="labels pr3 pl3 pt1">
                        <p>Title:    </p>
                        <p>Date and time:    </p>
                    </div>
                    <div class="fields">
                        <p>{{ form.title }}</p>
                        <p>{{ form.date_time }}</p>
                    </div>
                </div> -->
                <div class="vertical">
                    <p class="form-label">Title: </p>
                    <p class="naked-input">{{ form.title }}</p>
                    <p class="form-label">Date and time:</p>
                    <p class="naked-input">{{ form.date_time }}</p>
                </div>
                <p class="pt1">{{ form.description }}<p>
                <div>
                    <p>Choose a cover photo:</p>
                    <p class="pl1"> {{ form.cover_photo }}</p>
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(function () {
        $("#id_date_time").datetimepicker({  format: 'm/d/Y H:i', 
                                            stepping: 15,
                                        }
        );
    });
  </script>
{% endblock content %}