{% extends "base.html" %}
 
{% block content %}
<div>
   <h3 style="text-align:center">How to get your Paypal QR code and URL</h3>
   <div class="flex flex-wrap">
 
 
   </div>
</div>
 
<div>
   <h3 style="text-align:center">How to get your Venmo QR code</h3>
   <div class="flex flex-wrap">
       <img style="padding: 20px" src="/static/images/Venmo QR Walk-Thru.png" width="500" height="300">
       <img style="padding: 20px" src="/static/images/Venmo QR Walk-Thru (1).png" width="500" height="300">
       <img style="padding: 20px" src="/static/images/Venmo QR Walk-Thru (2).png" width="500" height="300"> 
   </div>
</div>
 
 
 
{% endblock content %}
