{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div>
   <h1 style="text-align:center"><strong> {% translate "How to get your Paypal QR code and URL" %}</strong></h1>
   <div class="flex flex-wrap">
      <img style="padding: 20px" src="/static/images/Slide 1.png" width="900" height="600">
      <img style="padding: 20px" src="/static/images/Slide 2.png" width="900" height="600">
      <img style="padding: 20px" src="/static/images/Slide3.png" width="900" height="600">
      <img style="padding: 20px" src="/static/images/Slide4.png" width="900" height="600">
      <img style="padding: 20px" src="/static/images/Slide5.png" width="900" height="600">
      <img style="padding: 20px" src="/static/images/Slide6.png" width="900" height="600">
      <img style="padding: 20px" src="/static/images/Slide7.png" width="900" height="600">
      <img style="padding: 20px" src="/static/images/Slide8.png" width="900" height="600">
      <img style="padding: 20px" src="/static/images/Slide9.png" width="900" height="600">


      

      

      
 
 
   </div>
</div>
 
<div>
   <h1 style="text-align:center"><strong> {% translate "How to get your Venmo QR code" %}</strong></h1>
   <div class="flex flex-wrap">
       <img style="padding: 20px" src="/static/images/Venmo QR Walk-Thru.png" width="900" height="600">
       <img style="padding: 20px" src="/static/images/Venmo QR Walk-Thru (1).png" width="900" height="600">
       <img style="padding: 20px" src="/static/images/Venmo QR Walk-Thru (2).png" width="900" height="600"> 
   </div>
</div>
 
 
 
{% endblock content %}
