{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="event-add center flex justify-around mt5">
    <div class="flex flex-column bgw tc shadow-c br3">
        <h1 class="form-title">{% translate "Donation Form:" %}</h1>
        <div class="pr3 pb3 pl3 pt1">
            <form action="{% url 'add-donation' musician_pk=musician.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button type="submit">{% translate "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="event-add center flex justify-around mt5">
    <h5>{% translate "If you're not sure how to set up some of these accounts, click" %}            
        <a href="{% url 'donation-tutorial' %}">{% translate "Here" %}</a>
    </h5>
</div>
{% endblock content %}