{% extends "base.html" %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% block content %}
<p>This will begin at {{event.date_time}}</p>
<div class="ma4 flex flex-column event-picture">
    <div class="flex">
        <img src="{{ event.full_cover.url }}">
    </div>
    <div class="pl2">
        <h3 class="pt1">{{event.title}} by <a href="{% url 'show-musician' musician_pk=event.owner.pk %}">{{event.owner.name}}</a> </h3>
        <div class="">
            <p>{{event.description}}</p>
            <button onclick="myFunction()">Donate</button>
        </div>
    </div>
</div>
<div class="w3-container">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Donate</button>
  
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <div>
                <iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="400"
    height="400"
    src="{{musician.bio}}">
</iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
<div id="react-event">
    <script>
        const data = '{{data}}'
    </script>
</div>

<script>
    function myFunction() {
      window.open("{{musician.bio}}", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
    }
</script>

{% endblock content %}