{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% translate "Your Calendar" %}</h3>
<div class="flex flex-wrap w-70">
    <div id='calendar' class="w-80 pt2 pb4"></div>
</div>

<h3>{% translate "Your Favorite Musicians" %}</h3>
<div class="flex flex-wrap">
    {% for musician in favorites %}
    <div class="shadow-3 br3 ma3 event-pane">
        <a href="{% url 'show-musician' musician_pk=musician.pk %}">
            <div class="image-div flex pa2">
                <img class="br2" src="{{ musician.thumbnail.url }}">
            </div>
        </a>  
        <h4 class="tc b">{{musician.name}}</h4>      
    </div>
    
    {% endfor %}
</div>

<h3>{% translate "Saved Events" %}</h3>
<div class="flex flex-wrap">
    {% for event in saved_events %}
    <div class="shadow-3 br3 ma3 event-pane">
        <a href="{% url 'event' pk=event.pk %}">
            <div class="image-div flex pa2">
                <img class="br2" src="{{ event.thumbnail.url }}">
            </div>
        </a>
        <div class="info-div flex flex-column tc">
            <h5 class="b">
                {{event.title|truncatechars:20}}
            </h5>
            <p>
                <a href="{% url 'show-musician' musician_pk=event.owner.user.pk %}">{{event.owner.name}}</a>
            </p>
            <p>
                {{event.date_time}}
            </p>
        </div>
    </div>

    
    {% endfor %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.js" defer></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        const data = JSON.parse(_.unescape('{{events}}'))
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            eventSources: [
                {
                    events: data,
                    color: '157FE2',
                    display: 'block'
                }]
        });
        calendar.render();
    });

</script>
{% endblock %}
