{% extends "base.html" %}

{% block content %}
<div id="react-homepage">
</div>

{% if user.is_authenticated %}
<h5>Hello, {{user.username}}</h5>
{% endif %}

{% if user.is_authenticated %}
    {% if not user.musician %}
    <div>
        <a href="{% url 'add-musician' user_pk=user.pk %}">Become a streamer!</a>
    </div>
    {% endif %}
{% endif %}

<h4>Upcoming concerts:</h4>
<div class="flex flex-wrap justify-around">
{% for event in events %}
    {% if event.is_upcoming %}
<a href="{% url 'event' pk=event.pk %}">
    <div class="shadow-3 br3 ma3 event-pane">
            <div class="image-div flex pa2">
                <img class="br2" src="{{ event.thumbnail.url }}">
            </div>
            <div class="info-div flex flex-column tc">
                <h3 class="b">
                    {{event.title}}
                </h3>
                <p>
                    <a href="{% url 'show-musician' musician_pk=event.owner.user.pk %}">{{event.owner.name}}</a>
                </p>
                <p>
                    {{event.date_time}}
                </p>
            </div>

    </div>
</a>
    {% endif %}
{% endfor %}
</div>
{% endblock content %}