{% extends "base.html" %}
{% load i18n %}

{% block content %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" integrity="sha512-d0v474klOFSF7qD9WDvyRxAvXaWSxCHDZdnBSZQjo8BpVr6vpjwAgqetpqkKP38DzlOzdVPaLVnzzW1Ba8wB9w==" crossorigin="anonymous" /> -->

<div class="flex pt4 pl4 pr4 justify-between">
    <div class="flex pl3 w-30">
        <h4 class="">
            {% translate "Live Now" %}
        </h4>
    </div>    
    <span class="w-30">(
        <a href = "{% url 'homepage' %}">{% translate "live/upcoming by date" %}</a> | 
        <a href = "{% url 'random' %}">{% translate "random" %}</a> | 
        <a href = "{% url 'live' %}">{% translate "live now" %}</a> |
        <a href = "{% url 'past' %}">{% translate "past events" %}</a> )
    </span>
    <div class="w-30 pr3 tr">
    <form action="{% url 'search' %}" class="" method="get">
        <div>
        <input name="query" type="text" placeholder="{% translate 'Search here...' %}">
        <button type="submit">{% translate "Search now!" %}</button>
        </div>
    </form>
    </div>

</div>

<div class="test-flex">
    {% if live_events.count != 0 %}
        {% for event in live_events %}
            {% if event.in_progress %}
                <div class="shadow-3 br3 ma3 event-pane">
                    <a href="{% url 'event' pk=event.pk %}">
                        <div class="thumbnail-div pa2">
                            <img class="thumbnail-image br2" src="{{ event.thumbnail.url }}">
                            <div class="thumbnail-overlay">
                                <div class="live-badge white br2 ma2">
                                    <p class="mb0 mh1">Live</p>
                                </div>
                                <div class="viewer-badge white br2 mt2 mb2 ml2 mr3">
                                    <p class="mb0 mh1">37 viewers</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="live-info-div flex flex-column tc">
                        <a href="{% url 'event' pk=event.pk %}">
                            <p class="h4 h-100">
                                {{event.title|truncatechars:20}}
                            </p>
                        </a>
                        <p>
                            <a href="{% url 'show-musician' musician_pk=event.owner.user.pk %}">{{event.owner.name}}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <h5 class="pb4 pt3 ml5">{% translate "There's nothing live right now.  Check out upcoming events below." %}</h5>
    {% endif %}
</div>
    

<div class="flex pl4">
    <h4 class="pl3">{% translate "Upcoming Concerts" %}</h4>
</div>

<div class="test-flex">
{% for event in events %}
    {% if event.is_upcoming %}
        <div class="shadow-3 br3 ma3 event-pane">
            <a href="{% url 'event' pk=event.pk %}">
                <div class="image-div flex pa2">
                    <img class="br2" src="{{ event.thumbnail.url }}">
                </div>
            </a>
            <div class="info-div flex flex-column tc">
                <h5 class="b">
                    {{event.title|truncatechars:20}}
                </h5>
                <p>
                    <a href="{% url 'show-musician' musician_pk=event.owner.user.pk %}">{{event.owner.name}}</a>
                </p>
                <p>
                    {{event.date_time}}
                </p>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>

{% endblock content %}

    





