{% extends "base.html" %}

{% block content %}
<div id="react-homepage">
</div>

{% if user.is_authenticated %}
    {% if not user.musician %}
    <div>
        <a href="{% url 'add-musician' user_pk=user.pk %}">Become a streamer!</a>
    </div>
    {% endif %}
{% endif %}

<h4>Upcoming concerts:</h4>
{% for event in events %}
    {% if event %}
    <div>
        <p>
            <a href="{% url 'event' pk=event.pk %}">{{event.title}}</a> 
            by <a href="{% url 'show-musician' musician_pk=event.owner.user.pk %}">{{event.owner.name}}</a>
        </p>
    </div>
    {% endif %}
{% endfor %}
{% endblock content %}