{% extends "base.html" %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.js" defer></script>

<div class="musician-info-area flex justify-between">
    <div class="left pa4">
        <div class="left-top flex">
            <div class="picture">
                <div class="musician-show center">

                    <div class="pb3">
                    <img class="profile-photo br-100" src="{{ musician.full_cover.url }}">
                    </div>
                </div>
            </div>
            <div class="name-location pl4 w-50">
                <div class="flex">
                    <h1>
                        {{musician.name}}
                    </h1>
                    <p>
                        <a class="pl3 grow dib star" id="toggle-favorite" data-musician-id = "{{ musician.pk }}" class="no-underline pointer dib grow f3" id='parent-favorite'>
                            {% if user_favorite %}
                                &#9733;
                                {% else %}
                                &#9734;
                            {% endif %}
                        </a>
                    </p>
                   
                </div>
                <div class="flex flex-column justify-between h-75">
                    <div><p class="">{{musician.bio}}</p></div>
                    <div>
                        {% if musician.pk == user.pk %}
                            <div>
                                <a href="{% url 'add-donation' musician_pk=musician.pk %}">{% translate "Edit Donation Info" %}</a>
                            </div>
                            <div>
                                <a href="{% url 'edit-musician' musician_pk=musician.pk %}">{% translate "Edit profile" %}</a>
                            </div>  
                            <div>
                                <a href="{% url 'add-event' musician_pk=musician.pk %}">{% translate "Add an event" %}</a>
                            </div>     
                        {% else %}
                            {% if musician.cashapp_name %}
                                <p>Cashapp name: {{musician.cashapp_name}}</p>
                            {% endif %}
                            {% if musician.paypal_donation_url and not musician.paypal_qr %} 
                            <a href="{{musician.paypal_donation_url}}" target="_blank">Paypal link</a><br> 
                            {% endif %}

                            <div class="flex">

                            {% if musician.cashapp_qr %}
                                <div class="flex flex-column">
                                    <p class="qr-label">Cashapp:</p>
                                    <img class="qr" src="{{ musician.cashapp_qr.url }}"><br>
                                </div>
                            {% endif %}


                            {% if musician.paypal_donation_url and musician.paypal_qr %}
                            <div class="flex flex-column qr-box">
                                <p class="qr-label">Paypal:</p>
                                <a href="{{musician.paypal_donation_url}}"><img class="qr" src="{{ musician.paypal_qr.url }}" /></a><br>
                            </div>
                            {% endif %}


                            {% if musician.paypal_qr and not musician.paypal_donation_url %}
                            <div class="flex flex-column">
                                <p class="qr-label">Paypal:</p>
                                <img class="qr" src="{{ musician.paypal_qr.url }}"><br>
                            </div>
                            {% endif %}


                            {% if musician.venmo_qr %}
                            <div class="flex flex-column">
                                <p class="qr-label">Venmo:</p>
                                <img class="qr" src="{{ musician.venmo_qr.url }}">
                            </div>
                            {% endif %}
                            </div>
                        {% endif %}  
                    </div> 
                </div>     
            </div>
        </div>
    </div>

    <div class="right flex justify-around w-60 mt-3">
        <div id='calendar' class="w-70 pt2"></div>
    </div>

</div>



<div class="event-list ml3">
    {%if musician.events.all.count %}
    <h3>{{musician.name}}'s {% translate "Events" %}</h3>
    {% endif %}
    <div class="flex flex-wrap">
        {% for event in musician.events.all %}
        {% if event.is_upcoming %}
        <a href="{% url 'event' pk=event.pk %}">
            <div class="shadow-3 br3 ma3 event-pane">
                    <div class="image-div flex pa2">
                        <img class="br2" src="{{ event.thumbnail.url }}">
                    </div>
                    <div class="info-div flex flex-column tc">
                        <h5 class="b">
                            {{event.title|truncatechars:20}}
                        </h5>
                        <p>
                            <a href="{% url 'show-musician' musician_pk=event.owner.user.pk %}">{{event.owner.name}}</a>
                        </p>
                        <p>
                            {{event.date_time}}
                        </p>
                        {% if user == musician.user %}
                        <a href="{% url 'edit-event' event_pk=event.pk %}">{% translate "Edit this event" %}</a>
                        {% endif %}
                    </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    {%if musician.events.all.count %}
    <h3 class="mt4">{% translate "Past Events" %}</h3>
    {% endif %}
    <div class="flex flex-wrap">
        {% for event in musician.events.all %}
        {% if event.is_finished %}
            <div class="shadow-3 br3 ma3 event-pane">
                <a href="{% url 'event' pk=event.pk %}">
                    <div class="image-div flex pa2">
                        <img class="br2" src="{{ event.thumbnail.url }}">
                    </div>
            </a>
                <div class="info-div flex flex-column tc">
                    <h5 class="b">
                        {{event.title|truncatechars:20}}
                    </h5>
                    <p>
                        <a href="{% url 'show-musician' musician_pk=event.owner.user.pk %}">{{event.owner.name}}</a>
                    </p>
                    <p>
                        {{event.date_time}}
                    </p>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div id="comments-container" class="pt4 ml5 mb4">
    <h4>{% translate "Comments" %}</h4>
    <div>
        <div id="comments-div" class="comments" style="padding: 10px;">
        {% for comment in musician.musician_comments.all %}
            <div class="comment-pane">
                <p class="comment-body">                    
                    {{ comment.message | linebreaks }}
                </p>
                <p class="comment-author">
                    by <span class="font-weight-bold">{{comment.author}}</span>
                </p>
                <hr>
            </div>              
        {% endfor %}
        </div>
    </div>
    {% if user.is_authenticated and not event.in_progress %}
    <div class="ml3">
        <textarea id="comment-box" cols="50" rows="4"></textarea>
        <div class="mb2">
            <button id="comment-button">{% translate "Comment!" %}</button>
        </div>
    </div>
    {% endif %}
</div>


<script>
    window.addEventListener("load", (e) => {
        const toggleFavoriteLink = document.querySelector("#toggle-favorite")
        toggleFavoriteLink.addEventListener('click', function (e) {
            e.preventDefault()
            const musicianId = toggleFavoriteLink.dataset['musicianId']
            fetch(`/musician/${musicianId}/favorite`, {
                method: 'POST'
            })
            .then(res => res.json())
            .then(data => {
                if (data.favorite) {
                    toggleFavoriteLink.innerHTML = '&#9733;'
                } else {
                    toggleFavoriteLink.innerHTML = '&#9734;'
                }
            })
        })
    //This for AJAX comments
        const commentBox = document.getElementById("comment-box")
        const commentButton = document.getElementById("comment-button")
        const commentContainer = document.getElementById("comments-div")
        commentButton.addEventListener("click", (e) => {
            e.preventDefault()
            const musicianId = toggleFavoriteLink.dataset['musicianId']
            let message = commentBox.value
            commentBox.value = ""
            var p = document.createElement("div")  
            let data = { "message" : message }

            if (message.length > 0) {
                fetch(`/musician/${musicianId}/add-comment`, {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    p.innerHTML = data.html
                    commentContainer.appendChild(p)
                })
            } 
        })
    })
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.js" defer></script>
<script>

//calendar starts here
    document.addEventListener('DOMContentLoaded', function() {
        const data = JSON.parse(_.unescape('{{events}}'))
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            eventSources: [
                {
                    events: data,
                    color: '157FE2',
                    display: 'block'
                }]
                
        });
        calendar.render();
    })


</script>

{% endblock content %}