body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.ant-page-header-back-button:focus {
  outline: none;
  box-shadow: none;
}

.ant-page-header-back-button:hover > span > svg {
  color: rgb(24, 144, 255);
  transition: 0.3s;
}

.ant-page-header-heading-title {
  cursor: pointer;
  -webkit-user-select: none;
  padding-left: 25px;
  color: white;
}

.ant-page-header-heading-extra {
  margin-top: 7px;
  height: 25%;
}

video:focus {
  outline: none;
}

.bgw {
  background-color: #cad6e9;
}


a {
  /* text-decoration: none; */
  color: black;
}

p {
  margin-bottom: 5px;
}

.event-pane {
  background-color: white;
}

.calendar {
  background-color: darkgrey;
  margin: 40px 100px 40px 60px;
}

.dn {
  display: none;
}

.event-picture {
  width: 680px;
} 

input, textarea {
  border-radius: 5px;
}

input {
  border-width: 1px;
}

.shadow-c { box-shadow: 2px 2px 4px 2px rgba( 0, 0, 0, 0.3 ); }

#id_cover_photo, #id_headshot {
  width: 70%;
  border-radius: 0px;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 0px;
}

#id_title, #id_date_time, #id_name, #id_city, #id_bio {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.form-title {
  margin-bottom: 5px;
}

.provider-list {
  width: 100px;
}

.test-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#id_venmo_qr, #id_paypal_qr, #id_cashapp_qr {
  padding-left: 2px;
}

.profile-photo {
  max-width: 300px;
  max-height: 300px;
}

.star {
  font-size: 20px;
}

.grow:hover,
.grow:focus {
  transform: scale(1.4);
}

.flex-just {
  justify-content: space-between;
}

.header-name-link {
  font-size : 20px;
}

.qr {
  height: 80px;
  margin: 0px 15px 0px 15px;
}

.qr-label {
  font-size: 12px;
  padding: 0;
}

#calendar {
  z-index: 0;
  min-width: 400px;
}

header { 
  z-index: 1;
}

.facebook-this, .tweet-this, .mail-this {
  display: inline;
}