.ant-page-header-back-button:focus {
  outline: none;
  box-shadow: none;
}

.ant-page-header-back-button:hover > span > svg {
  color: rgb(24, 144, 255);
  transition: 0.3s;
}

.ant-page-header-heading-title {
  cursor: pointer;
  -webkit-user-select: none;
  padding-left: 25px;
  color: white;
}

.ant-page-header-heading-extra {
  margin-top: 7px;
  height: 25%;
}

video:focus {
  outline: none;
}