{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %} {% endblock meta %}
  <title>Rhappsody</title>
  <script src="{% static 'main.js' %}" defer></script>
  {% block javascript %} {% endblock javascript %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" integrity="sha512-d0v474klOFSF7qD9WDvyRxAvXaWSxCHDZdnBSZQjo8BpVr6vpjwAgqetpqkKP38DzlOzdVPaLVnzzW1Ba8wB9w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/antd.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: #f0f2f5;">
  <div class="body-div">
    <div class="main-block" style="display: none;">
      <script>
        const isAuthenticated = JSON.parse('{{user.is_authenticated}}'.toLowerCase())
        const userName = "{{user.username}}"
        const loginURL = "{% url 'account_login' %}"
        const signupURL = "{% url 'account_signup' %}"
        const logoutURL = "{% url 'account_logout' %}"
      </script>
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>