{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %} {% endblock meta %}
  <title>Rhappsody</title>
  <script src="{% static 'main.js' %}" defer></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  
    <!-- Popup -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" integrity="sha512-d0v474klOFSF7qD9WDvyRxAvXaWSxCHDZdnBSZQjo8BpVr6vpjwAgqetpqkKP38DzlOzdVPaLVnzzW1Ba8wB9w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/antd.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-color: #f0f2f5;">
  <div class="body-div">
    <div class="main-block" style="display: none;">
      <script>
        const isAuthenticated = JSON.parse('{{user.is_authenticated}}'.toLowerCase())
        const loginURL = "{% url 'account_login' %}"
        const signupURL = "{% url 'account_signup' %}"
        const logoutURL = "{% url 'account_logout' %}"
        {% if user.musician %}
        const profileURL = "{% url 'show-musician' musician_pk=user.pk %}"
        {% else %}
        const profileURL = "{% url 'homepage' %}"
        {%endif%}
      </script>
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</body>