{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %} {% endblock meta %}
  <title>Rhappsody</title>
  <script src="{% static 'main.js' %}" defer></script>
  {% block javascript %} {% endblock javascript %}
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css" integrity="sha512-d0v474klOFSF7qD9WDvyRxAvXaWSxCHDZdnBSZQjo8BpVr6vpjwAgqetpqkKP38DzlOzdVPaLVnzzW1Ba8wB9w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.css' rel='stylesheet' />
  <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/antd.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  


</head>
<body style="background-color: #f0f2f5;">
  <div class="body-div">
    <div class="main-block" style="display: none;">
      <script>
        const isAuthenticated = JSON.parse('{{user.is_authenticated}}'.toLowerCase())
        const username = "{{user.username}}"
        const loginURL = "{% url 'account_login' %}"
        const signupURL = "{% url 'account_signup' %}"
        const logoutURL = "{% url 'account_logout' %}"
        const favoritesURL = "{% url 'favorite-musicians' %}"
        const mapURL = "{% url 'map' %}"
        {% if user.is_authenticated %}
        const musicianSignupURL = "{% url 'add-musician' user_pk=user.pk %}"
        {% else %}
        const musicianSignupURL = "#"
        {% endif %}
        {% if user.musician %}
        const isMusician = true
        const profileURL = "{% url 'show-musician' musician_pk=user.pk %}"
        const addEventURL = "{% url 'add-event' musician_pk=user.pk %}"
        {% else %}
        const isMusician = false
        const profileURL = "{% url 'homepage' %}"
        const addEventURL = "{% url 'homepage' %}"
        {%endif%}
      </script>
      {% block content %}
      {% endblock content %}
    </div>
  </div>
  
</body>

